*, *:after, *:before {
	box-sizing: border-box;
}

button {
	border: none;
	background-color: transparent;
	height: 64px;
	width: 132px;
	border-radius: 99em;
	background-color: #000;
	background-image: linear-gradient(90deg, #d7e2f1 50%, #d7e2f1 50%, #cd2b5b 50%, #cd2b5b 100%);
	transform: rotate(-45deg);
	position: relative;
	overflow: hidden;
	&:after {
		position: absolute;
		display: block;
		content: "";
		width: 64px;
		height: 14px;
		border-radius: 99em;
		background-color: rgba(#FFF, .5);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -150%);
	}
	
	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 120%;
		height: 100%;
		border-radius: 99em;
		background-color: rgba(#FFF, .25);
		left: 50%;
		top: 120%;
		transform: translate(-50%, -150%);
	}
	
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 2px #2d2d2d;
	}
}

// Codepen spesific styling - only to center the elements in the pen preview and viewport 
.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
// End Codepen spesific styling


